backend:
  name: git-gateway
  branch: main

collections:
  - name: "content"
    label: "Content"
    files:
      - label: "Home"
        name: "home"
        file: "content/home.json"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Body", name: "body", widget: "text" }
